:host(.blue-theme) .welcome{
  color: blue;
}

:host(.red-theme) .welcome{
  color: red;
}


.social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 3.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

