<ng-template class="card" #blankImage let-name="name">
    <p>No hay imagen disponible para {{name}}</p>
    <img src="assets/img_not_available.jpg" alt="Avatar no disponible" style="width: 80%;">
</ng-template>


<ng-container *ngIf="employee.isactive">
    <div  class="card">
        <ng-container *ngIf="!employee.iconUrl"><ng-container *ngTemplateOutlet="blankImage; context: {name: employee.name}"> </ng-container></ng-container>
        <img *ngIf="employee.iconUrl" src="{{employee.iconUrl}}" alt="Avatar" style="width: 80%;">
        <div class="container">
            <h4 [ngStyle]="oncheckRank(employee.rank)">{{employee.name}}</h4>
            <p>{{employee.role}}</p>
        </div>
        <div [ngSwitch]="employee.rank">
            <span class="junior" *ngSwitchCase="'junior'">Necesita soporte</span>
            <span class="senior" *ngSwitchCase="'senior'">Lidera un equipo</span>
            <ng-content select=".content2"></ng-content>
            <!--<span [ngClass]="employee.rank">{{employee.rank}}</span>-->
        </div>
        <button (click)="onEmployeeChecked()">Check Employee</button>
    </div>
    <ng-content select=".content1"></ng-content>
    <ng-content></ng-content>
</ng-container>
