<h1>Lista de empleados</h1>

<!-- Alternativa Angular 17 -->
<!--@for(employee of employees; track employee.id;) {
  <app-card-item (employeeSelected)="onEmployeeSelected($event)" [childEmployee]="employee"></app-card-item>
}-->

<div>
    <!--<ng-container *ngFor="let employee of employees">-->
        <ng-container *ngFor="let employee of employees$ | async">
        <app-card-item #component (employeeSelected)="onEmployeeSelected($event)" [childEmployee]="employee">
          <h4 #employeeContent1 class="content1">Content projection 1</h4>
          <h4 class="content2">Content projection 2</h4>
          <h4 class="content3">Content projection 3</h4>
        </app-card-item>
    </ng-container>
    <!--<app-card-item (employeeSelected)="onEmployeeSelected($event)" [employee]="secondEmployee"></app-card-item>
    <app-card-item (employeeSelected)="onEmployeeSelected($event)" [employee]="thirdEmployee"></app-card-item>
    <app-card-item (employeeSelected)="onEmployeeSelected($event)" [employee]="fourthEmployee"></app-card-item>-->
</div>
<h4>Empleado seleccionado: <span *ngIf="selectedEmployee">{{selectedEmployee.name}}</span></h4>
<h4 #todayRef >Hoy: {{today | date: 'dd/MM/yyyy'}}</h4>